<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="footer"><h1>WELCOME TO PVPSIT</h1></div>
    <div class="main_page1">
    <div class="main_page">
        <button ><a style="text-decoration: none;color: azure;font-size:larger"href="/signin">Sign In</a></button>
        <button ><a style="text-decoration: none;color: azure;font-size:larger"href="/signup">Sign up</a></button>
    </div>
   </div>
</body>
</html>