<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body style="width:100%;
height:max-content;display: flex;align-items: center;justify-content: center;padding: 20px;">
    <div class="signin_card">
        <form action="/signin" method="post">
            <p style="color: aliceblue;">First name</p><input type="text" name="fname"><br>
            <p style="color: aliceblue;">Last name</p><input type="text" name="lname"><br>
            <p style="color: aliceblue;">Email</p><input type="email" name="email"><br>
            <p style="color: aliceblue;">Phone Number</p><input type="number" name="phonenumber"><br>
            <button style="font-size: larger;cursor: pointer;;"type="submit">SIGN IN</button>
        </form>
    </div>
    
</body>
</html>